<mat-toolbar color="primary">

	<!--Botão para abrir o menu -->
	<div>
		<button mat-icon-button (click)="OnToggleSidenav()">
			<mat-icon>menu</mat-icon> <!--o texto define o tipo de butão -->
		</button>
	</div>
	
	<!---Botão para a home -->
	<div>
		<a routerLink="/home"> Home </a>	
	</div>

	<!-- Caso a tela for extream Small  os botoes de Logout somem -->
	<div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
		<ul fxLayout fxLayoutGap="40px" class="navigation-items">
			<li> <a> Perfil</a> </li>	

			<li> <a> Sair</a> </li>	
		</ul>	
	</div>
</mat-toolbar>
