/*  . por que é a classe */
.content{
	display: grid;
	/* Divide as colunas igualmente */
	grid-template-columns:repeat(3, 1fr) ;
	/*Primeira e segunda linha defina como 11.4 rem,o resto divide em 1 fração (Pega o resto da tela)   */
	grid-template-rows: 11.4rem 11.4rem 1fr;

	/*Define quem ocupa quais áreas  */
	/* Segunda linha e as tres colunas */
 	/* Primeira linha e as tres colunas */
	grid-template-areas:
	"header header header"  
	"subheader subheader subheader"
	"left center right "
}

/*-------------------------Header Things--------------------------------------------------- */
/*Define o que é cada um dos segmentos que eu define no template-areas */
/* elemento html -> elemento no template-area */
header{
	grid-area: header;
	display: flex;

}

header #logo {
    margin-top: 3.8rem;
	place-self: center;
}

header h1{
	place-self: center;
    font-family: 'Poppins', sans-serif;
	color: var(--black);
	font-size: clamp(20px, 4vw, 5rem);
	margin-left: 8rem;
}



/*-------------------------Main Things--------------------------------------------------- */
main{
	/*Para organizar os elementos alinhados usamos display-flex */
	grid-area: center;
	display: flex;
	align-items: center;	
	margin-top: -12rem;
}

main .container {
	width: min(36.3rem, 100%);
	margin-left: 10rem;
}


main h2{
    font-family: 'Poppins', sans-serif;
	color: var(--black);
	font-size: clamp(20px 5vw, 2.8rem);
	margin-bottom: 2.4rem;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  background-color: transparent;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: clamp(20px 5vw, 2.8rem);
  cursor: pointer;
  border: 1px solid var(--black_central);
  border-radius: 0.25em
}



input{
	border: .2rem solid var(--grey-blue);
	padding: 0 1.6rem;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}


/*-------------------------Background Things--------------------------------------------------- */
#bg{
	grid-area: subheader;
}

.menu{
	height: 10rem;
	background:var(--grey_central_dark);
}
/*  Criando as balls do bg*/
.ball{
	width: 70rem;
    height: 70rem;
	background: var(--green);
    clip-path: circle();
    opacity: 0.3;

	/* position fixed fica na frente de tudo */
	position: fixed;
}

.ball.bottom{
    bottom: -15rem;
	right: -15rem;
}

