#home{
	display: grid;
	grid-template-columns: 1fr ;
	/*Primeira e segunda linha defina como 11.4 rem,o resto divide em 1 fração (Pega o resto da tela)   */
	grid-template-rows: 22.8rem 1fr;

	/*Define quem ocupa quais áreas  */
	/* Segunda linha e as tres colunas */
 	/* Primeira linha e as tres colunas */
	grid-template-areas:
	"header"  
	"body"
}

/*-------------------------Header Things--------------------------------------------------- */
.header{
	display:grid;
	grid-area: header;

	grid-template-columns: 1fr ;
	/*Primeira e segunda linha defina como 11.4 rem,o resto divide em 1 fração (Pega o resto da tela)   */
	grid-template-rows: 13rem 1fr;

	grid-template-areas:
	"titulo"  
	"navegacao"
}

.header img{
	grid-area:titulo;
	width: 13rem;
    height: 13rem;
	object-fit:cover;
}

.header #nome_pagina{
	grid-area:titulo;
    font-family: 'Poppins', sans-serif;
	color: var(--black);
	font-size: clamp(20px, 4vw, 5rem);
	place-self: center;
}

#navbar{
	grid-area:navegacao;
	display:flex;
	align-items:center; /*Todos os filhos desse item são alinhados no centro */
}

#navbar button{
	margin-right:4px;
	margin-left:230px;
}

/*-------------------------Background Things--------------------------------------------------- */
/* Isso aqui ta meio errado mas funciona, o background não deveria pertencer a nenhum grid  */
.bg{
	grid-area: header;
	align-self: end;
	z-index:-1;
}

#menu{
	height: 10rem;
	background:var(--grey_central_dark);
}
/*  Criando as balls do bg*/
.ball{
	width: 70rem;
    height:70rem;
	background: var(--green);
    clip-path: circle();
    opacity: 0.3;
	/* position fixed fica na frente de tudo */
}

.ball.bottom{
    bottom: -15rem;
	right: -15rem;
	position:fixed;
}

/*-------------------------Body Things--------------------------------------------------- */
.calendario{
	grid-area:body;
	margin-top:5rem;
	margin-left:5rem;
	margin-right:5rem;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
